<style>

.testimonialSec{
	background-position:center;
	background-size:cover;
	position:relative;
	padding:100px 10px;
	}
	
	.testimonialSec .card-title{
		color:#fff;
		font-size:50px;
		text-align:center;
	}
	
	.testimonialSec p{
		color:#fff;
		font-size:18px;
	}
	
	.testimonialSec::before{
		content:"";
		width:100%;
		height:100%;
		top:0;
		left:0;
		position:absolute;
		z-index:0;
		opacity:.7;
		background: #000F70;
		background: linear-gradient(180deg, rgba(0, 15, 112, 1) 24%, rgba(0, 8, 56, 1) 100%);
	}
	
	.card{
		background-color:transparent!important;
	}
	
	#testimonial_multi_sidebar>.card-body .carousel-inner .carousel-item>.row .card .card-body blockquote small{
		color:#fff!important;
	}
	
	.float-right a{
		color:#fff!important;
		text-decoration:none!important;
	}
	
	.carousel-control-prev, .carousel-control-next{
		border:0;
	}
	
	
	
	.fa-quote-left{
		color:#fff;
		font-size:100px;
		position:absolute;
		top:0;
		left:0;
	}
	
	
	.imgComps {
		width:200px;
		height:70px;
		object-fit:contain;
		padding:0px 20px;
	}
	
	.compsSection h3{
		font-size:35px;
		color:#182BA7;
	}
	
	.btn-secondary{
		background-color:#182BA7!important;
		border:0;
		padding:10px 20px;
	}
	
	.btn-outline-primary{
		border-radius:50px;
		border-color:#182BA7;
		color:#182BA7;
		padding:10px 20px;
	}
	
	
	.gap-3{
		gap:20px;
	}
	
	
	@media screen and (max-width:500px){
		.fa-quote-left{
			font-size:70px;
			top:50px;
		}
	
		.testimonialSec{
			padding:50px 20px!important;
		}
	
		.carousel-control-prev{
			margin-left:-15px!important;
		}
	
		.carousel-control-next{
			margin-right:-15px!important;
		}
	
		.designForYou .btn-secondary,
		.designForYou .btn-outline-primary{
			width:100%;
		}
	
	.imgComps{
		width:45%!important;
	}
	
		#testimonial_multi_sidebar > .card-footer .carousel-controls{
			top:34px;
		}
	
		.fa-quote-left{
			font-size:50px;
		}
	}
	

</style>
<div class="d-none">
    {% block_product_browse_category %}
</div>
<div class="video_section section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 mb-md-0">
                <img src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/newImgSecWebp.png?1748319247" alt="tools idea" class="img-fluid" loading="lazy" id="image_wm7c3h0">
            </div>
            <div class="col-md-6">
                <div class="pl-lg-4">
                    <img src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/LogoBlue.png?1748319305" style="width:120px; object-fit:contain;" class="mb-3" id="image_nv8551f">
                    <h2 class="section_heading mb-3">Let Us Design It For You</h2>
                    <p>From business cards to posters and brochures, our designers are ready to complete the perfect design for your custom jobs.</p>
                    <div class="d-flex mb-4 pb-2">
                        <img style="width:40px; height:40px; object-fit:contain;" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/media/noun-cursor-select-237368_1746458915374.png">
                        <div class="pickup_content ml-3">
                            <h4 class="mb-1">Most orders delivered in 72 hours</h4>
                            <p class="mb-0">Get Customized Printing For Your Business Done</p>
                        </div>
                    </div>
                    <div class="d-flex mb-4 pb-2">
                        <img style="width:40px; height:40px; object-fit:contain;" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/media/noun-design-4710477_1746459034255.png" id="image_zov3zpe">
                        <div class="creat_design ml-3">
                            <h4 class="mb-1">Exclusive Monthly Offers</h4>
                            <p class="mb-0">Get customized printing for your business done</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <img style="width:40px; height:40px; object-fit:contain;" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/media/noun-shipping-7447826_1746459105730.png" id="image_c9nvh6m">
                        <div class="shipping_you ml-3">
                            <h4 class="mb-1">24/7 Human-Powered Support</h4>
                            <p class="mb-0">Get customized printing for your business done</p>
                        </div>
                    </div>
                    <div class="designForYou d-flex flex-lg-row flex-column align-items-center gap-3" style="margin-top:50px;">
                        <a type="button" class="btn btn-secondary" href="https://calendly.com/micki-catalyststudioz/30min">Get Started</a>
                        <a class="btn btn-outline-primary" style="text-transform:uppercase;" href="https://landing.catalyststudioz.com/support/">Book an Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<section class="container-fluid  testimonialSec d-none" style="background-image:url('https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/hpImg2.png?1747206422');">
    <div class="container" style="position:relative; z-index:1;">
        <i class="fas fa-quote-left mr-2"></i>
        <h2 class="text-center mb-5">Testimonials</h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active pl-5 pr-5">
                    <p class="text-center">It is worth taking time out of my day to note quality customer service. It is worth the long drive from midtown not to have to deal with the chain stores like fed ex copy center, ups, and all others where it seems to be a monumental
                        task just to make copies and print. In an era of dumb down service and people, east Atlanta copy is example that more businesses need to follow.</p>
                </div>
                <div class="carousel-item pl-5 pr-5">
                    <p class="text-center">It is worth taking time out of my day to note quality customer service. It is worth the long drive from midtown not to have to deal with the chain stores like fed ex copy center, ups, and all others where it seems to be a monumental
                        task just to make copies and print. In an era of dumb down service and people, east Atlanta copy is example that more businesses need to follow.</p>
                </div>
                <div class="carousel-item pl-5 pr-5">
                    <p class="text-center">It is worth taking time out of my day to note quality customer service. It is worth the long drive from midtown not to have to deal with the chain stores like fed ex copy center, ups, and all others where it seems to be a monumental
                        task just to make copies and print. In an era of dumb down service and people, east Atlanta copy is example that more businesses need to follow.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
</section>



<section class="container-fluid pt-5 pb-5 p-2 compsSection">
    <div class="container">
        <h3 class="text-center">Trusted By Leading Companies.</h3>
        <p class="text-center">We have the privleage of serving hundreds of satisfied customers over the years.</p>
        <div class="d-flex flex-wrap justify-content-center mt-4">
            <img class="imgComps" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon6_thumb.png?1747210346" id="image_yztghjc">
            <img class="imgComps" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon7_thumb.png?1747210346" id="image_pqoicyn">
            <img class="imgComps mt-lg-0 mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon1_thumb.png?1747210346" id="image_gcxxx5k">

            <img class="imgComps mt-lg-0 mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon8_thumb.png?1747210346" id="image_2ffnyxw">
            <img class="imgComps mt-lg-0 mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon9_thumb.png?1747210346" id="image_j1ap3f8">

            <img class="imgComps mt-lg-0 mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon_thumb.png?1747210346" id="image_r5xwp49">
            <img class="imgComps mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon11_thumb.png?1747210346" id="image_fxgvg7v">
            <img class="imgComps mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon2_thumb.png?1747210346" id="image_rkje42a">

            <img class="imgComps mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon3_thumb.png?1747210346" id="image_okqi2cv">
            <img class="imgComps mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon4_thumb.png?1747210346" id="image_9w199mq">
            <img class="imgComps mt-4" src="https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/prtIcon5_thumb.png?1747210346" id="image_xzvnary">
        </div>
    </div>
</section>




<div class="testimonial_home py-100 text-center section-padding testimonialSec" style="background-image:url('https://meuopsjpfq.s3.us-west-1.amazonaws.com/catalysts/images/common/hpImg2.png?1747206422');">
    <div class="container" style="position:relative; z-index:1;">
        <i class="fas fa-quote-left mr-2"></i>
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- {% include 'testimonials_scroll.block' with {'twd':get_testimonials(true)} %} -->
                {% block_testimonials_multi_scroll %}
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
	<div class="border-top py-3 py-md-4">
		<div class="row">
			<div class="col-12 col-md-4 mb-3 mb-md-0">
				<div class="media">
					<picture>
						<source srcset="/themes/catalyststudioz/images/tag.webp" type="image/webp">
						<source srcset="/themes/catalyststudioz/images/tag.png" type="image/png"> 
						<img src="/themes/catalyststudioz/images/tag.png" alt="tag" class="align-self-center mr-3 img-fluid" loading="lazy" width="65" height="66">
					</picture>					
					<div class="media-body align-self-center">
						<h3 class="m-0 text-uppercase">Seasonal Offer</h3>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-8 align-self-center">
				<div class="desc">
					<p class="m-0">We offer quick and reliable printing services to the customers using an advanced online print store. You can select a product, personalize it and use to fulfill your business goals.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->